{
  "AuthenticationEnabled": true,
  "RegisteredUsers": {
    "{{ orthanc_user }}": "{{ orthanc_password }}"
  },
  "StorageDirectory": "{{ orthanc_storage_dir }}",
  "DicomAet": "ORTHANC",
  "DicomPort": {{ orthanc_dicom_port }},
  "HttpPort": {{ orthanc_http_port }},
  "RemoteAccessAllowed": false
}